@import "/src/styles/mixins";
@import "/src/styles/variables";

.process {
  position: relative;
  overflow: hidden;
  background: $--dark-bg;
  color: $--text-color-white;

  .bg {
    position: absolute;
    width: 100%;
    height: 100%;

    .circle {
      display: none;
      position: absolute;
      background: $--process-circle-color;
      border-radius: 100%;

      @include mediumScreen() {
        display: block;
      }
    }

    .circle_1 {
      width: 370px;
      height: 370px;
      transform: translate(-50%, -50%);
    }

    .circle_2 {
      width: 240px;
      height: 240px;
      transform: translate(75%, 50%);
    }

    .circle_3 {
      width: 134px;
      height: 134px;
      transform: translate(25%, 300%);
    }

    .circle_4 {
      right: 0;
      width: 210px;
      height: 210px;
      transform: translateX(-75%);
    }

    .circle_5 {
      bottom: 0;
      width: 240px;
      height: 240px;
      transform: translate(25%, -50%);
    }

    .circle_6 {
      bottom: 0;
      width: 406px;
      height: 406px;
      transform: translate(125%, -90%);
    }

    .circle_7 {
      bottom: 0;
      width: 520px;
      height: 520px;
      transform: translate(220%, -120%);
    }
  }

  .container {
    position: relative;
    padding: 80px 15px;
    z-index: 30;

    @include mediumScreen() {
      padding: 94px 40px;
    }

    @include xlScreen() {
      padding: 94px 0;
    }
  }

  .title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 22px;

    &::first-letter {
      color: $--primary-light-100;
    }
  }

  .title + p {
    text-align: center;
    max-width: 924px;
  }

  .timeline_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 28px;
    max-width: 1032px;

    @include mediumScreen() {
      margin-top: 70px;
      margin-left: 30px;
    }

    @include largeScreen() {
      margin-left: 0;
    }

    .center_line {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: calc(100% - 50px);
      background: $--process-center-line-color;
      width: 4px;
      top: 22px;

      @include mediumScreen() {
        height: calc(100% - 60px);
        left: -30px;
      }

      @include largeScreen() {
        height: calc(100% - 200px);
        left: 50%;
      }
    }
  }

  .card_wrapper {
    position: relative;
    margin-bottom: 20px;

    @include mediumScreen() {
      margin-bottom: 50px;
    }

    @include largeScreen() {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }

  .card_wrapper_right {
    justify-content: flex-end;
  }

  .card {
    position: relative;
    background: $--color-black;
    background-size: cover;
    max-width: 472px;
    padding: 20px 22px;
    color: $--text-color-white;
    border: 1px solid #00707e;

    &:hover {
      cursor: zoom-in;
    }

    @include mediumScreen() {
      align-self: flex-start;
      max-width: unset;
    }

    @include largeScreen() {
      max-width: 472px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      display: none;

      @include mediumScreen() {
        display: block;
        position: absolute;
        content: "";
        background: $--color-black;
        width: 20px;
        height: 20px;
        left: -10px;
        transform: rotate(45deg);
        border-left: 1px solid #00707e;
        border-bottom: 1px solid #00707e;
      }

      @include largeScreen() {
        left: unset;
        right: -11px;
        border-left: none;
        border-bottom: none;
        border-right: 1px solid #00707e;
        border-top: 1px solid #00707e;
      }
    }

    .circle {
      display: none;

      @include mediumScreen() {
        display: block;
        position: absolute;
        content: "";
        background: $--process-center-line-circle-color;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        left: -41px;

        &:hover {
          cursor: default;
        }
      }

      @include largeScreen() {
        left: unset;
        right: -55px;
      }
    }

    .card_title {
      text-transform: capitalize;
      margin-bottom: 10px;

      &::first-letter {
        color: $--process-card-first-letter-color;
      }
    }

    .description {
      font-size: 14px;
    }
  }

  .card_right {
    &::before {
      @include mediumScreen() {
        right: unset;
        left: -10px;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid #00707e;
        border-left: 1px solid #00707e;
      }
    }

    .circle {
      right: unset;

      @include mediumScreen() {
        left: -40px;
      }

      @include largeScreen() {
        left: -54px;
      }
    }
  }

  .image_wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000000;
    background: rgba($color: $--dark-bg, $alpha: 0.8);
    cursor: pointer;

    @include mediumScreen() {
      display: block;
    }

    .image {
      position: absolute;
      left: 0;
      right: 0;
      top: 68px;
      bottom: 0;
      margin: auto;
      width: 70vw;
      height: 90vh;
    }
  }
}

@media (min-width: 992px) and (max-width: 1115px) {
  .process {
    .card {
      width: calc(25% + 170px);

      .circle {
        display: none;
      }
    }
  }
}
