@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-size: 44px;
  font-weight: 700;

  @include mediumScreen() {
    font-size: 64px;
  }
}

h2 {
  font-size: 28px;
  font-weight: 700;

  @include mediumScreen() {
    font-size: 40px;
  }
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
