$--primary: #592578;
$--primary-light: #77319f;
$--primary-light-100: #00eeff;
$--primary-light-200: #d4b2e7;
$--primary-light-300: #dfc5ed;
$--primary-light-400: #f4ecf9;
$--primary-dark: #4d2068;
$--primary-dark-100: #592b73;
$--primary-dark-200: #401b56;

$--color-white: #fff;
$--color-black: #000;

$--text-color-white: #fff;
$--text-color-black: #000;

$--nav-link-hover: #00eeff;
$--cta-button: #00707e;
$--about-img-bg: #182734;
$--dark-bg: #1a1a1a;

$--first-letter: #0099f1;

// process
$--process-circle-color: #16242c;
$--process-card-bg: #fff;
$--process-center-line-color: #b6faff;
$--process-center-line-circle-color: #00707e;

// values
$--values-bg: #233e4e;
$--values-circle-color: #203948;
