$--primary: #592578;
$--primary-light: #77319f;
$--primary-light-100: #933fc4;
$--primary-light-200: #d4b2e7;
$--primary-light-300: #dfc5ed;
$--primary-light-400: #f4ecf9;
$--primary-dark: #4d2068;
$--primary-dark-100: #592b73;
$--primary-dark-200: #401b56;

$--color-white: #fff;
$--color-black: #000;

$--text-color-white: #fff;
$--text-color-black: #000;
