@import "/src/styles/mixins";
@import "/src/styles/variables";

.values {
  position: relative;
  background: $--values-bg;
  color: $--text-color-white;
  overflow: hidden;

  .bg {
    position: absolute;
    width: 100%;
    height: 100%;

    .circle {
      display: none;
      position: absolute;
      background: $--values-circle-color;
      border-radius: 100%;

      @include mediumScreen() {
        display: block;
      }
    }

    .circle_1 {
      width: 134px;
      height: 134px;
      transform: translate(-50%, -50%);
    }

    .circle_2 {
      width: 229px;
      height: 229px;
      transform: translate(25%, 25%);
    }

    .circle_3 {
      width: 371px;
      height: 371px;
      transform: translate(80%, 80%);
    }

    .circle_4 {
      width: 612px;
      height: 612px;
      transform: translate(35%, 125%);
    }

    .circle_5 {
      width: 274px;
      height: 274px;
      right: 0;
      transform: translate(15%, 50%);
    }

    .circle_6 {
      width: 580px;
      height: 580px;
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%);
    }
  }

  .container {
    position: relative;
    padding: 80px 15px;
    z-index: 30;

    @include mediumScreen() {
      padding: 94px 40px;
    }

    @include xlScreen() {
      padding: 94px 0;
    }
  }

  .title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 28px;

    &::first-letter {
      color: $--primary-light-100;
    }

    @include mediumScreen() {
      margin-bottom: 60px;
    }
  }

  .cards_wrapper {
    display: flex;
    flex-direction: column;

    @include largeScreen() {
      padding: 0 169px;
    }
  }

  .card {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    max-width: 540px;
    align-self: start;

    @include mediumScreen() {
      margin-bottom: 40px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .image {
      position: relative;
      display: none;

      @include mediumScreen() {
        display: block;
        width: 270px;
        height: 270px;
      }

      &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 30;
      }
    }

    .text_wrapper {
      @include mediumScreen() {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        transform: translate(45%, 25%);
        max-width: 415px;
        z-index: 50;
      }
    }

    .card_title {
      margin-bottom: 10px;

      &::first-letter {
        color: $--primary-light-100;
      }
    }
  }

  .card_right {
    @include mediumScreen() {
      display: flex;
      justify-content: flex-end;
      align-self: flex-end;
    }

    .text_wrapper {
      @include mediumScreen() {
        transform: translate(-15%, 25%);
      }
    }
  }
}
